html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}
#title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 700;
  font-size: 54px;
  letter-spacing: 10px;
  margin-top: -100px;
  text-transform: uppercase;
  line-height: 1.7;
}
